---
import "../../styles/components/FAQs.scss";
import { Image } from "astro:assets";
import down from "../../../public/dropdown.png";
import left from "../../../public/left.png";
---

<section id="FAQs">
  <script src="./dropdown.js"></script>
  <h2>Frequently Asked Questions</h2>

  <div class="question">
    <h3>What are some program choices I have?</h3>
    <Image src={down} , alt="Dropdown Icon" , class="icon" , id="down" , />
    <Image
      src={left}
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>
      At UTSC, there are so many different options you have in the field of
      chemistry! Whether you're passionate about biological chemistry, physical
      chemistry, environmental chemistry, or just chemistry as a whole, there's
      a program for you.
      <br />
       You can choose from six different Major programs: Chemistry, Biochemistry
      or Environmental Chemistry (all with or without Co-op), as well as their
      Specialists equivalents: Chemistry, Medicinal and Biological Chemistry or
      Environmental Chemistry (all with or without Co-op).
      <br />
       Each program has their own faculty advisor to contact for any questions
      and/or advice, which can be found here along with more information about
      each POSt: <a
        href="https://www.utsc.utoronto.ca/physsci/chemistry-programs-and-supervisors"
        target="_blank">POST Information</a
      >
    </p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>Are there any good study resources?</h3>
    <Image src={down} , alt="Dropdown Icon" , class="icon" , id="down" , />
    <Image
      src={left}
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>
      Chemistry courses can be tough. In order to provide free and strong
      academic support to students at UTSC, we run an incredible Chemistry-Aid
      Centre (with EPSA).
      <br />
       During scheduled office hours, students can drop by either virtually or
      in-person in our office, EV 264, and ask any and all questions to
      upper-year student tutors. This Centre is open every day of every week,
      all semester long (Week 3 or 4 of classes to Week 12).
      <br />
       Please use the following Discord invite link to join the Centre and boost
      your learning today! <a
        href="https://discord.gg/tAEydFnNQn"
        target="_blank">Server Link</a
      >
    </p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>What does CSU do?</h3>
    <Image src={down} , alt="Dropdown Icon" , class="icon" , id="down" , />
    <Image
      src={left}
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>
      The Chemistry Society at the University of Toronto Scarborough (CSU) is an
      organization that collaborates with students and faculty members to
      provide innovative and fun academic events focusing on providing
      networking experience and volunteer opportunities, increasing the passion
      for science and helping with their academic growth and mentorship.
      <br />Our mission is achieved by hosting events varying from social mixers
      between students and mixed student-faculty events, workshops for essential
      chemistry techniques, office hours for chemistry tutoring help, and more.
      <br />Our goal is to cultivate a chemistry community on campus and push
      the growth of Chemistry as a department at the University of Toronto
      Scarborough.
    </p>
  </div>
  <hr class="underline" />
  <br />

  <div class="question">
    <h3>What are some future paths?</h3>
    <Image src={down} , alt="Dropdown Icon" , class="icon" , id="down" , />
    <Image
      src={left}
      ,
      alt="left icon"
      ,
      class="icon"
      ,
      id="left"
      ,
      style="display: none;"
    />
  </div>
  <div class="answer">
    <p>
      Future paths that would open the door with your chemistry degree can open
      various gateways to many career paths, offering opportunities across
      diverse industries.
      <br />
       Graduates can delve into research and development, applying their
      expertise to pharmaceuticals, materials science, or the chemical industry.

      <br />
       Besides industry, the academic route would open toward teaching and
      groundbreaking research.
    </p>
  </div>
  <hr class="underline" />
  <br />
</section>
