---
import "@fontsource-variable/josefin-sans";

import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Meta from "./Meta.astro";

import "../styles/main.scss";

interface Props {
  title?: string;
  includeHeader?: boolean;
}

const { title = "CSU", includeHeader = true } = Astro.props;

const description =
  "We are a group of like-minded individuals at the University of Toronto driving impact in the fields of data science, statistics, and machine learning";
---

<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />

    <!-- Tells Search Crawlers not to Index the Dev Site -->
    {
      process.env.NODE_ENV !== "production" && (
        <meta name="robots" content="noindex, nofollow" />
      )
    }

    <!-- Open Graph Metadata only on Production -->
    {
      process.env.NODE_ENV === "production" && (
        <Meta ogTitle={title} ogDescription={description} />
      )
    }

    <title>{title}</title>
  </head>
  <body>
    {includeHeader && <Header />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>

  <script>
    console.log(process.env.NODE_ENV);
    import type { Engine } from "tsparticles-engine";
    import { loadFull } from "tsparticles";

    declare global {
      interface Window {
        particlesInit: (engine: Engine) => Promise<void>;
      }
    }

    // the function name is the parameter passed to the init attribute
    // required
    // add the function to window is mandatory, it will be searched there
    window.particlesInit = async function (engine: Engine) {
      await loadFull(engine);
    };
  </script>
</html>
